<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col text-wrap">
    <div class="alert alert-danger text-wrap" role="alert">
      <h4 class="alert-heading">Status Code: <%=status%></h4>
      <p><%=message%></p>
      <hr />
      <% if(process.env.NODE_ENV != "production"){%>
      <p class="mb-0 text-wrap"><%=stack%></p>
      <hr />
      <%}%>
      <p class="mb-0">"TO ERR IS HUMAN"</p>
    </div>
  </div>
</div>
