#cluster-map{
    width: 100%;
    height: 500px;
}

#map{
    width : 100%;
    height: 300px;
}

.fix-size img{
object-fit:contain;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #ee465f;
  border-radius: 50%;
  display: inline-block;
}

/* media queries */
@include media-breakpoint-up(sm) {
    .para{
       width: 150%;
    }
}

@include media-breakpoint-up(md) {
    html {
        width: 125%;
    }
}