<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/3ky6bu4rx6zvvyk97tf1fjpq5mtc_243201383_4968883836474155_6086931411514245199_n.jpg"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form
            action="/register"
            method="POST"
            class="needs-validation"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/validateForms.js"></script>
